<p id="notice"><%= notice %></p>

<h1>Lista de Citas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Dnipaciente</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fechanacimiento</th>
      <th>Especialidad</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cupos.each do |cupo| %>
      <tr>
        <td><%= cupo.dniPaciente %></td>
        <td><%= cupo.nombre %></td>
        <td><%= cupo.apellido %></td>
        <td><%= cupo.fechaNacimiento %></td>
        <td><%= cupo.especialidad %></td>
        <td><%= cupo.descripcion %></td>
        <td><%= link_to 'Show', cupo %></td>
        <td><%= link_to 'Edit', edit_cupo_path(cupo) %></td>
        <td><%= link_to 'Destroy', cupo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Cita', new_cupo_path, :class => "btn btn-primary"%>
